{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/transform-react-jsx", {
      "pragma": "h"
    }],
    "@babel/plugin-transform-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
